.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}
.login-text {
  margin-left: 10px;
}
.login-page {
  display: flex;
  justify-content: center;
}
.login-form {
  /* border: 2px solid gray; */
  /* width: 250px; */
}
.login-buttons {
  display: flex;
  justify-content: center;
}
.nav-section {
  display: flex;
  justify-content: center;
}
.menu-list {
  display: flex;
  list-style-type: none;
}
.menu-list li {
  padding: 10px;
}
.menu-area {
  display: flex;
  justify-content: center;
}
.search-input {
  border: 2px solid brown;
}
.product-img {
  width: 50vh;
  cursor: pointer;
  transition: all 0.1s linear;
}
.product-img:hover {
  transform: scale(1.1);
}
